.brand-color{
    color: #F8B52E !important;
}
.bg-brand-color{
    background-color: #F8B52E !important;
}
.bg-brand-font{
    font-family: 'Baloo Thambi 2';
}
.w-45{
    width: 45%;
}
.gap-12{
    gap:12px;
}