.text-modal{
    max-height: 72px;
    min-height: 48px;
}
.text-checklist{
    min-height: 24px;
    max-height: 32px;
}
.text-addItem{
    min-height: 32px;
    max-height: 60px;
}
.divider{
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 8px;
}
.w-90{
    width: 90%;
}
.w-80{
    width: 80%;
}
.w-70{
    width: 60%;
}
.w-30{
    width: 40%;
}
.comment-avatar{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.avatar-img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border: dashed #dee2e6 !important;
}
.upload-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: dashed #dee2e6 !important;
}
.triangle{
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(-100%,25%);
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 12px 12px 12px 12px;
    border-color: transparent #dee2e6 transparent  transparent
}