.mouseIn:hover{
    background:#333; //rgba(0,0,0,0.2);
    cursor: pointer;
    margin: 0px -1px;
}
.icontranslate{
    transform: translate(-50%,-50%);
    top: -24px;
    left: -8px;
    position: absolute;
    z-index: 15;
}
.app-layout{
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(90deg, rgba(#333399, 1), rgba(#ff00cc, 1));
}
.sidebar-layout{
    position: relative;
    margin: 48px 0 0 0;
    padding: 0 1rem;
    
}
.sidebar-header{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;
    background: linear-gradient(90deg, #333399, #ff00cc);
    transition: 0.1s ease-in;
}
.icon-size{
    width: 16px;
    display: inline-block;
}
.sidebar {
    z-index: 0;
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100vh);    
    width: 100px;
    transition: 0.1s ease-in;
    padding-top: 48px;
    padding-left: 0px;
    background-color: #292929 //rgba(0,0,0,.3);
}
.show{
    left: 0;
    width: 50px;
}
.space-toggle-back {
    padding-left: calc(50px + 1rem);
}
.space-toggle-forward {
    padding-left: calc(100px + 1rem);
}
.content-body{
    height: calc(100vh - 48px);
    transition: 0.1s ease-in;
    padding: 0px 8px;
    background-color: #212121;
    margin: 0px -16px;
}
